services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vxplore-frontend
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_logs:/var/log/caddy
    restart: always
    networks:
      - public-net

    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M

    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

networks:
  public-net:
    name: public-net
    driver: bridge

volumes:
  caddy_logs:
